.clear-sign-form{
    background-color:white;
    border:5px solid var(--strhov);
}

.clear-sign-form input{
    border:2px solid var(--drk);
    font-weight:bold;
    color:black;
}

.clear-dashboard, .clear-add-post, .clear-profile, .clear-profile-posts{
    background-color:white;
    box-shadow:0 1px 3px black;
}

.clear-add-input, .clear-add-textarea{
    border:2px solid black;
}